{% extends 'base2.html' %}

    {% block myappContent %}


<h1>Passwords</h1>
<hr>
{% if user.is_authenticated %}
    <ul>


        {% for password in object_list %}
            {% if user.is_authenticated %}
                {% if user.id == password.authorName.id %}
                    <li style="margin: 12pt;">
                    <!-- {{ password.authorName }} || --> Name Tag: <a href="{% url 'password-info' password.pk %}"> {{ password.Name_Tag }} </a> &#8594; Password: {{ password.Password_String }}
                    <!--<p>User {{ user.id }}</p>
                    <p>Auth {{ password.authorName.id }}</p>
                    -->


                    <a href="{% url 'password_update' password.pk %}" class="btn btn-primary" style="padding: 2px;">UPDATE</a>
                    <a href="{% url 'password_delete' password.pk %}" class="btn btn-danger" style="padding: 2px;">DELETE</a>
                {% endif %}
                    </li>
            {% endif%}

        {% endfor %}

    </ul>
{% else %}
<h3>You need to login to be able to manage Passwords</h3>
{% endif %}



    {% endblock %}