<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4835197172184518"
    crossorigin="anonymous"></script>
<title>Vadim Biryukov</title>
</head>
    <body>
        <div style="display: flex; margin-left: 10%; padding-top: 50px;">
            <div>
                <div>
                    <h3><p style="font-size:16px;"><font size="4">🔑</font>  My password manager webpage can be found <i><a href="/myapp">Here</a></i> </p> </h3>
                    <p>For more details please visit GitHub page <i><a href="https://github.com/VadimBir/MyDjangoProject">Here</a></i></p>
                </div>
            </div>
            <div style="width: 50px;">

            </div>
            <div>
                <div>
                    <h3><p style="font-size:16px;"><font size="4">🚢</font> My Java Battleship Game download available <a href="https://github.com/VadimBir/Battleship/releases/download/v1.0/BattleshipGame.zip" ><i>Here</i></a></p></h3>
                    <p>For more Game details please visit GitHub page <a href="https://github.com/VadimBir/Battleship"> <i>Here</i></a></p>
                </div>
            </div>
        </div>
        <div style="margin-left: 10%;">
            <h3><p style="font-size:16px;">GitHub with various projects is <a href="https://github.com/VadimBir" ><i>Here</i></a></p></h3>
        </div>
            
        <div align="center" >
            <!--
                <div style="display:inline-block;width:300px;height:450px; border-style: solid;"></div>
            -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4835197172184518"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:450px"
            data-ad-client="ca-pub-4835197172184518"
            data-ad-slot="8964333291">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4835197172184518"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:250px"
            data-ad-client="ca-pub-4835197172184518"
            data-ad-slot="8964333291">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4835197172184518"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:250px"
            data-ad-client="ca-pub-4835197172184518"
            data-ad-slot="8964333291">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
       </div>
       
       <div style="margin-left: 10%; margin-right: 10%;">
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;border:none;padding:0cm;'><strong><span style="font-size:24px;">VADIM BIRYUKOV</span></strong></p>
        </div>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;background:#D9D9D9;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;background:#D9D9D9;border:none;padding:0cm;'><span style="font-size:13px;color:black;">www.linkedin.com/in/vadimbir ● &nbsp;920.377.1138&nbsp;</span><span style="font-size:13px;color:black;">● &nbsp;vasumrus@gmail.com</span><span style="color:blue;text-decoration:underline;"><span style="font-size:13px;color:black;">&nbsp;&nbsp;</span></span><span style="font-size:13px;color:black;">● &nbsp;Chicago, IL</span></p>
        </div>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">SUMMARY OF QUALIFICATIONS:</span></strong></p>
        </div>
        <ul style="list-style-type: disc;margin-left:44px;">
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Experience working with custom database project</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Expertise with network, host and testing tools</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Ability to create and institute standards, processes and procedures relative to information security</span></li>
        </ul>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;color:black;">&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">EDUCATION:</span></strong></p>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><strong><span style="font-size:13px;">Master of Science in Computer Science&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong><span style="font-size:13px;">Expected: &nbsp; May 2022</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><span style="font-size:13px;">Lewis University, Romeoville, IL&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;GPA: &nbsp;3.61</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><span style="font-size:13px;">Concentration: &nbsp;Software Engineering</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><strong><span style="font-size:13px;">Bachelor of Science</span></strong><span style="font-size:13px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;May 2020</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><span style="font-size:13px;">Lakeland University, Plymouth, WI&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;GPA: &nbsp;3.8</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:2.0cm;'><span style="font-size:13px;">Major: &nbsp;Computer Science&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-left:15.3pt;text-indent:2.0cm;'><em><span style="font-size:13px;">Graduated with honors</span></em></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;color:black;">&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">RELEVANT COURSES</span></strong><strong><span style="font-size:13px;">:</span></strong></p>
        </div>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:2cmundefined;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;background:white;'>Research in Computer Science, Software Testing and Quality, Artificial Intelligence, Software Architecture and Design, Software Engineering, Object-Oriented Design, Encryption and Authentication, System Analysis &amp; Design, Introduction to Data Structures, Advanced Programming, Computer Architecture, COBOL, Programming Languages <em>(Learned 26 different programming languages)</em>, Game Design Development, Cyber Security, Data Management, Object Oriented Programming, Network and Telecommunications</span></li>
            </ul>
        </div>
        <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:.0001pt;margin-left:63.8pt;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">TECHNOLOGY SKILLS</span></strong><strong><span style="font-size:13px;">:</span></strong></p>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">OPERATING SYSTEMS:</span></em></strong><em><span style="font-size:13px;">&nbsp; &nbsp;</span></em></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>Windows, MacOS X, Unix, Linux, Ubuntu, Kali Linux, Raspberry Pi OS, iOS, Android, VMWare, VirtualBox, Vagrant</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">NETWORKING:</span></em></strong><em><span style="font-size:13px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></em></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>LAN, WAN, Wireless</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">LANGUAGES: &nbsp; &nbsp;&nbsp;</span></em></strong><em><span style="font-size:13px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>C++, C#, Java, Python, MySQL, COBOL, Visual Basic, Pascal, Bash, Shell&nbsp;</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">WEB: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></em></strong></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>HTML5, CSS, JavaScript, Python-Django, Python-</span><span style="font-size:13px;">S</span><span style='font-family:"Times New Roman";font-size:10.0pt;'>elenium, Java-</span><span style="font-size:13px;">S</span><span style='font-family:"Times New Roman";font-size:10.0pt;'>elenium, PHP, Laravel, React&nbsp;</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">APPLICATIONS:</span></em></strong></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:44px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>Microsoft Office, Wireshark, Nmap, Metasploit, SQL Server, Google Applications, Terminal, Windows PowerShell, Windows CMD, FileZilla, Git, FTP</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><em><span style="font-size:13px;">HARDWARE/SYSTEMS:</span></em></strong><em><span style="font-size:13px;">&nbsp;&nbsp;</span></em></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:2cmundefined;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style='font-family:"Times New Roman";font-size:10.0pt;'>PC, MacOS X, Virtualization, NAS, Raspberry Pi, Digital Ocean</span></li>
            </ul>
        </div>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">PROFESSIONAL EXPERIENCE</span></strong><strong><span style="font-size:13px;">:</span></strong></p>
        </div>
        <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:.0001pt;margin-left:2.0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">Academic Graduate Assistant&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">September 2021 &ndash; Present</span></p>
        <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:.0001pt;margin-left:2.0cm;font-size:16px;font-family:"Times New Roman",serif;'><em><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">Department of Engineering, Computing and Mathematical Sciences</span></em><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">, <em>Lewis University, Romeoville</em>,<em>&nbsp;IL</em>&nbsp;</span></p>
        <ul style="list-style-type: disc;">
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Hold office hours to help students with questions and homework</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Support the instructors by uploading and managing content on the Blackboard shell</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Work with instructors to identify students who require additional assistance and reach out to those students</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Monitor discussion board for student questions</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Help instructor with grading courses</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Maintain a Discord channel for students</span></li>
        </ul>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;text-indent:2.0cm;'><strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">Software Engineer</span></strong><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;June 2021 &ndash; October 2021</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;text-indent:2.0cm;'><em><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">Cybridge Group, Inc., Tokyo, Japan</span></em></p>
        <ul style="list-style-type: disc;margin-left:2cmundefined;">
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Developed web applications for customers using Laravel PHP framework</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Developed Android and iOS applications that met customer requirements</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Conducted system development and integrated it into the existing web system</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Worked closely with customers and met their requests</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Worked on proprietary/confidential software systems at pre-market stage</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Debugged applications by seeking the causes of issues and fixing them</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Performed unit testing on a web application using Selenium framework&nbsp;</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Created documents to describe testing procedures</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Developed scripts using Google App Script&nbsp;</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Created documentation that summarized what was being done</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Participated in weekly meetings and worked on a team</span></li>
            <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Conducted code optimization</span></li>
        </ul>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-right:.9pt;'><span style="font-size:13px;border:none windowtext 1.0pt;padding:0cm;background:white;">&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">PROJECTS</span></strong><strong><span style="font-size:13px;">:</span></strong><em><span style="font-size:13px;">&nbsp;&nbsp;</span></em></p>
        </div>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:2cmundefined;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;background:white;'>Password Manager: &nbsp;</span></strong></li>
            </ul>
        </div>
        <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:0cm;margin-left:36.0pt;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">A working password manager using Django web framework. This website allows user to register, login and logout. Likewise, this web system would allow user to enter their password. More specifically, this webpage would allow user to add a password name tag, a password itself and a description. This password is visible only for an author of the password.&nbsp;</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:39.65px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;background:white;'>Connect 4 3D:</span></strong></li>
            </ul>
        </div>
        <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:0cm;margin-left:36.0pt;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;">Designed and developed a 3D Connect 4 game in Unity with a three-axis board. Likewise, custom scripts in C# that do all the calculations such as checks win/loose conditions, free-cam script, border limit and teleportation.</span></p>
        <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
            <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:39.65px;">
                <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Battleship Game:</span></strong></li>
            </ul>
        </div>
            <p style='margin-top:0cm;margin-right:.9pt;margin-bottom:0cm;margin-left:36.0pt;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;color:black;border:none windowtext 1.0pt;padding:0cm;background:white;">Battleship game in Java using four design patterns: Decorator Patten, Factory Pattern, Command Pattern and State Pattern. Game also includes features like game saving mechanics, resuming game after game was closed and it allows easily create addons for the game. Furthermore, it includes several JUnit tests.</span></p>
            <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                <ul style="margin-bottom:0cm;list-style-type: disc;margin-left:39.65px;">
                    <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;border:none windowtext 1.0pt;'>Password Manager 2:</span></strong></li>
                </ul>
            </div>
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;">Password Manager written in Java using object-oriented design, which allows person to create a password with a tag, partial search for the saved passwords via a name tag, and deletion of some password using a name tag.</span></p>
            <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                <ul style="margin-bottom:0cm;list-style-type: disc;">
                    <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style='font-family:"Times New Roman";font-size:10.0pt;'>Tic Tac Toe Game:</span></strong></li>
                </ul>
            </div>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-left:35.45pt;'><span style="font-size:13px;">Console-based Tic Tac Toe game in C++, with a fully functioning menu and real-time input form user.</span></p>
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:72.0pt;font-size:16px;font-family:"Times New Roman",serif;'><strong><span style="font-size:13px;">&nbsp;</span></strong></p>
            <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;">HONORS:</span></strong></p>
            </div>
            <ul style="list-style-type: disc;margin-left:39.65px;">
                <li><span style='font-family:"Times New Roman";font-size:10.0pt;'>Lakeland Dean&rsquo;s Academic Honor List, 2018/2019/2020</span></li>
                <li><span style='font-family:"Times New Roman";font-size:10.0pt;'>Lakeland University Presidential Scholarship, 2019/2020</span></li>
            </ul>
            <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:13px;color:black;">&nbsp;</span></p>
            <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;border:none;padding:0cm;'><strong><span style="font-size:13px;color:black;">LANGUAGE Skills: &nbsp;</span></strong></p>
            </div>
            <ul style="list-style-type: disc;">
                <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Fluent in English</span></li>
                <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Native in Russian</span></li>
                <li><span style='font-family:"Times New Roman";font-size:10.0pt;color:black;'>Fluent in Japanese</span></li>
            </ul>
        </div>

    </body>
    </html>
    