{% extends 'base2.html' %}

    {% block myappContent %}


{% if user.is_authenticated %}
    {%if user.id == password.authorName.id %}
        <h1>Password Information</h1>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <p style="display:inline;">By: {{password.authorName}}</p> <a href="{% url 'password_delete' password.pk %}" style="display:inline; padding: 4px;" class="btn btn-danger">DELETE</a>

        <h3>{{password.nameTag}}</h3>
        <h4>{{password.passwordStr}}</h4>
        <p> {{password.description}}</p>

        <a href="{% url 'home'%}" class="btn btn-primary" >Back</a>
        <a href="{% url 'password_update' password.pk %}" class="btn btn-primary" >UPDATE</a>

{% else %}

<h2>Forbidden Access </h2>
<h6> Nice Try </h6>

{% endif %}
{% endif %}

   {% endblock %}