{% extends 'base2.html' %}

    {% block myappContent %}

{% if user.is_authenticated %}
<h1>Add New Password</h1>
<hr>
<br> <br>

    <div class="form-group">
        <form method="POST">
            <table>
            <div>
                {% csrf_token %}
                {{ form.as_table }}
            </div>
            </table>
            <button class="btn btn-primary"> SAVE </button>
        </form>
    </div>

    <script>

        var userName = "{{ user.id }}";
        document.getElementById("authID").value = userName;

    </script>
{% else %}

    <h2> Forbidden Access </h2>

{% endif %}

    {% endblock %}