{% extends 'base2.html' %}

    {% block myappContent %}


<h1>Delete Password</h1>
<hr>
<br> <br>
{% if user.is_authenticated %}
    {%if user.id == password.authorName.id %}
<h3>Delete: {{ password.nameTag }}</h3>


    <div class="form-group">
        <form method="POST">
            <table>
            <div>
                {% csrf_token %}
                <strong>Are you sure you would like to DELETE the password?!</strong><br>
            </div>
            </table>
            <a href="{% url 'home'%}" class="btn btn-primary" >Back</a>
            <button class="btn btn-primary"> Delete Password </button>
        </form>
    </div>
{% else %}

    <h2> Forbidden Access </h2>

{% endif%}
{% endif%}


    {% endblock %}


{% if user.is_authenticated %}
{% else %}
{% endif%}